<div class="modal-header text-center">
    <h2>{{titulo}}</h2>
</div>
<div class="modal-body">
    <bow-buscarempleado bow-seleccionoempleado="seleccionoEmpleado(empleadoSeleccion)"></bow-buscarempleado>
</div>

