<div ng-form="formBuscarNombreGrupoInformal">
    <label class="control-label" for="iptNombreGrupoInformal">{{titulolabel}}</label>
    <input id="iptNombreGrupoInformal"
           placeholder="{{tituloplaceholder}}"
           name="iptNombreGrupoInformal"
           type="text"
           ng-model="selected"
           class="form-control"
           typeahead-editable="false"
           typeahead-on-select="onSelect($item, $model, $label)"
           typeahead="grupoInformal as grupoInformal.nombre for grupoInformal in gruposInformales | filter: $viewValue | limitTo:10"
           ng-required="{{requerido}}">
    <div ng-show="formBuscarNombreGrupoInformal.iptNombreGrupoInformal.$dirty && formBuscarNombreGrupoInformal.iptNombreGrupoInformal.$invalid">
        <small ng-show="formBuscarNombreGrupoInformal.iptNombreGrupoInformal.$invalid && !formBuscarNombreGrupoInformal.iptNombreGrupoInformal.$error.required" class="text-danger">
            @L("directiva_bowBuscarNombreGrupoInformal_nombreNoValido")
        </small>
    </div>
</div>