<button class="btn btn-danger btn-circle btn-lg" ng-show="mostrarOperacion" ng-click="mostrarConfirmacion()" title="{{mensajeTooltip}}">
    <em class="fa fa-trash"></em>
</button>
<span ng-hide="mostrarOperacion">
    {{mensajeConfirmacion}}
    <button class="btn btn-danger btn-circle btn-lg" ng-click="confirmacionOk()" title="{{tooltipOk}}">
        <em class="fa fa-check"></em>
    </button>
    <button class="btn btn-warning btn-circle btn-lg" ng-click="confirmacionCancel()" title="{{tooltipCancel}}">
        <em class="fa fa-times"></em>
    </button>
</span>