<div ng-form="formBuscarPais" 
     class="form-group" 
     ng-class="{'has-error' : formBuscarPais.iptPais.$dirty && formBuscarPais.iptPais.$invalid}">
    <label class=" control-label" for="iptPais">
    {{titulo}}</label>
    <input id="iptPais"
           name="iptPais"
           placeholder="{{titulo}}"
           type="text"
           ng-disabled="deshabilitado"
           ng-model="selected"
           typeahead-on-select="onSelect($item, $model, $label)"
           class="form-control"
           typeahead-editable="false"
           typeahead="pais as pais.nombre for pais in paises | filter: $viewValue"
           ng-required="{{requerido}}">
    <div ng-show="formBuscarPais.iptPais.$dirty && formBuscarPais.iptPais.$invalid">
        <small ng-show="formBuscarPais.iptPais.$error.required" class="text-danger">
            {{errorRequerido}}
        </small>
        <small ng-show="formBuscarPais.iptPais.$invalid && !formBuscarPais.iptPais.$error.required" class="text-danger">
            {{errorInvalido}}
        </small>
    </div>
</div>