<label class="control-label" for="{{nombre}}">{{titulo}}</label>
<p class="input-group">
    <input type="text" 
           class="form-control" 
           id="{{nombre}}" 
           ng-model="fecha" 
           maxlength="10" 
           ng-required="{{requerido}}"
           datepicker-popup="{{configuracionFecha.formato}}"
           is-open="configuracionFecha.abierto"
           min-date="configuracionFecha.fechaMinima"
           max-date="configuracionFecha.fechaMaxima" />
    <span class="input-group-btn">
        <button type="button" class="btn btn-default"
                ng-click="configuracionFecha.open($event)">
            <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </span>
</p>