<div class="modal-header text-center">
    <h2>@L("zonificacion_direccion_nuevoDireccion_titulo")</h2>
</div>
<div class="modal-body">
    <bow-direccion registro-direccion="direccionRegistrada(direccion)" localidad-seleccionada="localidadSeleccionada" input-localidad-disabled="inputLocalidadDisabled"></bow-direccion>
</div>
<div class="modal-footer">
    <button class="btn btn-danger btn-circle btn-lg" ng-click="cancelModal()" title="@L("zonificacion_direccion_modalNuevoDireccion_btCancelar")">
        <em class="fa fa-close"></em>
    </button>
</div>
