<div class="col-md-6">
    <br />
    <a ng-click="selectedPersona(persona)"><span ng-show="persona.numeroDocumento != ''">{{persona.numeroDocumento}}</span><span ng-show="!persona.numeroDocumento != ''">@L("directiva_bowResultadobusquedaGrupoinformal_sinDocumento")</span></a>
</div>
<div class="col-md-6">
    <br />
    {{persona.nombreCompleto}}<br />
    {{persona.localidadDepartamento}}
</div>