<div class="modal-header text-center">
    <h2>@L("zonificacion_direccion_nuevoDireccion_titulo")</h2>
</div>
<div class="modal-body">
    <bow-direccion></bow-direccion>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="cancelModal()">@L("zonificacion_direccion_modalNuevoDireccion_btCancelar")</button>
</div>