<div class="app-container" ng-controller="app.views.seguridad.prueba as vm">
    <button class="btn btn-success btn-circle btn-lg" ng-click="vm.insertTenant()">
        <em class="fa fa-save"></em>
    </button>
</div>