<div class="alert alert-danger text-center" ng-show="mensajeError">
    <strong>{{mensajeError}}</strong>
</div>
<form role="form" name="frmAfiliacionRecaudoLocalidad">
    <div class="row" ng-show="!modoConsulta">
        <div class="col-md-12">
            <div class="form-group" ng-class="{'has-error' : frmAfiliacionRecaudoLocalidad.selectedRecaudo.$dirty && frmAfiliacionRecaudoLocalidad.selectedRecaudo.$invalid }">
                <label class="control-label" for="selectedRecaudo">@L("directiva_bowAfiliacionRecaudoLocalidad_recaudos")</label>
                <select ng-model="selectedRecaudo" ng-options="recaudo as recaudo.nombre for recaudo in listaRecaudosMasivo" class="form-control" name="selectedRecaudo" id="selectedRecaudo">
                    <option value="">@L("directiva_bowAfiliacionRecaudoLocalidad_recaudos_seleccione")</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" ng-show="modoConsulta">
        <div class="col-md-6">
            <label class="control-label">@L("directiva_bowAfiliacionRecaudoLocalidad_recaudos")</label>
            <br />
            {{selectedRecaudo.nombre}}
            <br /><br />
        </div>
    </div>
</form>