<div ng-form="formBuscarEmpleadoTypeahead" class="form-group" ng-class="{'has-error' : formBuscarEmpleadoTypeahead.iptEmpleado.$dirty && formBuscarEmpleadoTypeahead.iptEmpleado.$invalid}">
    <label class="control-label" for="iptEmpleado">{{titulolabel}}</label>
    <div ng-show="!disabled">
        <input id="iptEmpleado"
               placeholder="{{tituloplaceholder}}"
               name="iptEmpleado"
               type="text"
               ng-model="selected"
               class="form-control"
               typeahead-editable="false"
               typeahead={{exprMostrar}}
               typeahead-on-select="onSelect($item, $model, $label)"
               required>
        <div ng-show="formBuscarEmpleadoTypeahead.iptEmpleado.$dirty && formBuscarEmpleadoTypeahead.iptEmpleado.$invalid">
            <small ng-show="formBuscarEmpleadoTypeahead.iptEmpleado.$error.required" class="text-danger">
                @L("directiva_bowBuscarEmpleadoTypeahead_empleado_requerido")
            </small>
            <small ng-show="formBuscarEmpleadoTypeahead.iptEmpleado.$invalid && !formBuscarEmpleadoTypeahead.iptEmpleado.$error.required" class="text-danger">
                @L("directiva_bowBuscarEmpleadoTypeahead_empleado_noSeleccionado")
            </small>
        </div>
    </div>
    <div ng-show="disabled && selected">
        <label class="control-label font-size-16">
            {{selected.codigo}} - {{selected.nombreCompleto}}
            <br />
            ( {{selected.sucursalNombre}}  )
        </label>
    </div>
</div>