<div ng-form="formBuscarFuneraria">
    <label class="control-label" for="iptFuneraria">{{titulolabel}}</label>
    <input id="iptFuneraria"
           placeholder="{{tituloplaceholder}}"
           name="iptFuneraria"
           type="text"
           ng-model="selected"
           class="form-control"
           typeahead-editable="false"
           typeahead="funeraria as funeraria.nombre for funeraria in funerarias | filter: $viewValue | limitTo:10"
           typeahead-on-select="onSelect($item, $model, $label)"
           ng-required="{{requerido}}">
    <div ng-show="formBuscarFuneraria.iptFuneraria.$dirty && formBuscarFuneraria.iptFuneraria.$invalid">
        <small ng-show="formBuscarFuneraria.iptFuneraria.$error.required" class="text-danger">
            @L("directiva_bowBuscarfuneraria_funerariaRequerida")
        </small>
        <small ng-show="formBuscarFuneraria.iptFuneraria.$invalid && !formBuscarFuneraria.iptFuneraria.$error.required" class="text-danger">
            @L("directiva_bowBuscarfuneraria_funerariaInvalida")
        </small>
    </div>
</div>