<div class="modal-header text-center">
    <h2>@L("zonificacion_telefono_registrar_titulo")</h2>
</div>
<div class="modal-body">
    <bow-nuevotelefono bow-guardotelefono="registroTelefono(telefono)"></bow-nuevotelefono>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="cancelModal()">@L("zonificacion_telefono_registrar_btCancelar")</button>
</div>