<div class="col-md-6">
    <br />
    <a ng-click="selectedEmpleado(empleado)">{{empleado.codigo}}</a>
</div>
<div class="col-md-6">
    <br />
    {{empleado.nombreCompleto}}<br />
    {{empleado.localidadDepartamento}} {{empleado.estado}}
</div>