<div ng-form="formBuscarSucursal" class="form-group" ng-class="{'has-error' : formBuscarSucursal.iptSucursal.$dirty && formBuscarSucursal.iptSucursal.$invalid}">
    <label class="control-label" for="iptSucursal">{{titulolabel}}</label>
    <div ng-show="!disabled">
        <input id="iptSucursal"
               placeholder="{{tituloplaceholder}}"
               name="iptSucursal"
               type="text"
               ng-model="selected"
               class="form-control"
               typeahead-editable="false"
               typeahead={{exprMostrar}}
               typeahead-on-select="onSelect($item, $model, $label)"
               required>
        <div ng-show="formBuscarSucursal.iptSucursal.$dirty && formBuscarSucursal.iptSucursal.$invalid">
            <small ng-show="formBuscarSucursal.iptSucursal.$error.required" class="text-danger">
                @L("directiva_buscarSucursal_sucursalRequerida")
            </small>
            <small ng-show="formBuscarSucursal.iptSucursal.$invalid && !formBuscarSucursal.iptSucursal.$error.required" class="text-danger">
                @L("directiva_buscarSucursal_sucursalInvalida")
            </small>
        </div>
    </div>
    <div ng-show="disabled && selected">
        <label class="control-label text-primary">
            {{selected.nombre}}
            <br />
            ( {{selected.nombreEmpresa}} - {{selected.nombreOrganizacion}} )
        </label>
    </div>
</div>